/* BACKGROUND COLOR AND HEADER STYLES */

body {
    background: url(../images/pinkcrystal.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: display !important;
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .5rem;
}

p {
    text-align: center;
    margin: 25px;
    font-size: 20px;
    color: darkslategrey;
}

.par1::first-letter {
    font-size: 35px;
    color: black;
}

.paragraph {
    text-align: center;
    align-content: center !important;
}

/* BODY STYLES */

#score-screen {
    margin: 20px;
}

#RN {
    font-size: 27px;
}

#W {
    font-size: 27px;
}

#L {
    font-size: 27px;
}

#random-num {
    font-size: 30px;
}

#win {
    font-size: 30px;
    color: green;
}

#lose {
    font-size: 30px;
    color: red;
}

#total-score {
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 30px;
}

#score-area {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    padding-bottom: 30px;
}

#info-box {
    background-color: rgb(255, 255, 255, 0.5); 
    border-radius: 45px;
    padding: 10px;
    
}

button {
    background: none !important;
    border: none !important;
}