 html {
     background: url(/Users/rachbaut/Documents/coding_bootcamp/Homework/unit-4-game/assets/images/gray_background.jpeg) no-repeat center center fixed;
     
 }

 h1 {
     font-size: 65px;
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
     color: white;
 }

 p {
     text-align: center;
     margin: 25px;
     font-size: 20px;
     color: black;
 }

 #total-score {
     font-size: 25px;
     color:black;
     text-align: center;
 }
