/* Body Styles */

html {
    background: wheat;
}

body {
    background: wheat;
}

 h1 {
     font-size: 65px;
     font-weight: bold;
     text-align: center;
     margin-top: 20px;
     color:black;
 }

 p {
     text-align: center;
     margin: 25px;
     font-size: 20px;
     color: black;
 }

 #total-score {
     font-size: 25px;
     color:black;
     text-align: center;
 }

 #info-box {
     background: white;
     margin: 25px;
     padding: 10px;
     border-radius: 10px;
 }


 